.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(200deg, #B380FD 12%, #6347F5 78%);
  padding: 0 20%;
}

.App__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 220px;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 5%;
  box-shadow: 10px 5px 5px rgb(50, 1, 92);
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.dsiconnectButton {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: red;
  border: red;
  background-color: rgb(253, 124, 124);
  width: 9vh;
  border-style: solid;
  border-radius: 20px;
  cursor: pointer;
  align-self: center;
}

.connectButton {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: green;
  border: green;
  background-color: rgb(167, 247, 123);
  width: 9vh;
  border-style: solid;
  border-radius: 20px;
  cursor: pointer;
  align-self: center;
}

text-overflow: